{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{list.name}}</title>
</head>
<body>
    <main>
        <div>
            <h1>{{list.name}}</h1>
            <p><a href = "{% url 'todo_list_update' list.id %}">Edit</a></p>
            <p><a href = "{% url 'todo_list_delete' list.id %}">Delete</a></p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {%for item in  list.items.all %} {% comment %} goes to views and uses the key in the context for the todo_list_detail function. Gets all the TodoItem object that belong to the object TodoList. One to many {% endcomment %}
                    <tr> {% comment %}  {% endcomment %}
                        <td><a href = "{% url 'todo_item_update' item.id%}"> {{item.task}}  </td> {% comment %} uses link to take it to the update form to update task{% endcomment %}
                        <td>{{item.due_date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
